<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  <!-- Ładowanie statycznych plików -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-6">
        <h1 class="text-4xl font-bold text-center text-gray-900 mb-10">Dashboard</h1>

        <!-- Kafelek Reports (Niebieski) -->
        <div class="max-w-md mx-auto mb-6">
            <a href="{% url 'report_list' %}" class="block bg-blue-500 p-6 rounded-lg shadow-lg hover:bg-blue-600 transition duration-300">
                <div class="text-center">
                    <h2 class="text-2xl font-bold text-white">Reports</h2>
                    <p class="text-white mt-2">View and manage reports.</p>
                </div>
            </a>
        </div>

        <!-- Kafelek Residents (Zielony) -->
        <div class="max-w-md mx-auto mb-6">
            <a href="{% url 'resident_list' %}" class="block bg-green-500 p-6 rounded-lg shadow-lg hover:bg-green-600 transition duration-300">
                <div class="text-center">
                    <h2 class="text-2xl font-bold text-white">Residents</h2>
                    <p class="text-white mt-2">Manage resident information.</p>
                </div>
            </a>
        </div>

        <!-- Kafelek Medications (Czerwony) -->
        <div class="max-w-md mx-auto">
            <a href="{% url 'medication_list' %}" class="block bg-red-500 p-6 rounded-lg shadow-lg hover:bg-red-600 transition duration-300">
                <div class="text-center">
                    <h2 class="text-2xl font-bold text-white">Medications</h2>
                    <p class="text-white mt-2">Manage medication schedules.</p>
                </div>
            </a>
        </div>
        <p class="text-red-500 text-3xl">Jeśli widzisz ten tekst na czerwono, Tailwind działa!</p>


    </div>
</body>
</html>
